@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Patrick+Hand&display=swap');
@import "-variables";
* {
    box-sizing: border-box;
    text-decoration: none;
    color: map-get($colores, letras);
}

body {
    margin: auto;
    background: url(../imagenes/fondonegro.webp) no-repeat;
    align-items: baseline;
    font-family: sans-serif;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: calc(100vh);
    padding: 0%;
    width: 100%;
}