// header de categorias  se uso linear-gradient */
.color-blanco {
    color: map-get($colores, letras);
}

header ul li {
    text-shadow: 10px 10px 10px rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    .submenu {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        display: none;
    }
}

header ul li:hover ul {
    margin: auto;
    display: block;
}

.submenu {
    box-shadow: none;
    margin: 0;
    display: flex;
    justify-items: center center;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.submenu li a h2 {
    font-size: 17px;
    text-decoration: none;
    box-shadow: none;
    color: map-get($colores, letras);
    text-transform: uppercase;
}

.submenu li {
    margin: 1%;
    background-color: transparent;
    position: sticky;
    padding: 0% 1%;
    font-size: 0px;
    height: 100%;
    box-shadow: none;
    text-shadow: 4px 4px 5px rgba(178, 178, 178, 0.333);
    a {
        box-shadow: none;
    }
}

.submenu li:hover {
    transform: translateY(-5px);
}

.centrar {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.letras-empresa {
    font-family: $letraclasica;
}