@import "-variables";
// header de categorias  se uso linear-gradient */
.color-blanco {
    color: map-get($colores, letras);
}

.submenu {
    margin: 0;
    background: linear-gradient(to top, rgb(169, 169, 169), #000000);
    display: flex;
    justify-items: center center;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.submenu li a h2 {
    font-size: 24px;
    text-decoration: none;
}

.submenu li {
    margin: 1%;
    background-color: transparent;
    position: sticky;
    padding: 0% 1%;
    font-size: 0px;
    height: 100%;
    text-shadow: 4px 4px 5px rgba(178, 178, 178, 0.333)
}

.submenu li:hover {
    transform: translateY(-5px);
}

.centrar {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

//  fin de  header de codigos  relacionados al  menu de categorias */