#medida1,
#medida2,
#medida3 {
    width: 90%;
    height: 400px;
}

section.contenido3 article {
    position: relative;
    margin: 5%;
    display: inline-block;
}

article:hover {
    background: rgb(0, 0, 0);
}

article h2 {
    text-shadow: 10px 10px 10px rgb(255, 255, 255);
    font-size: 15px;
}

.video iframe {
    margin-top: 2%;
    margin-bottom: 4%;
}

iframe {
    width: 90%;
    height: 400px;
    margin: 0 auto;
}

form fieldset.catalogo {
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 0%;
    margin: 5% 10%;
    text-align: center;
    align-items: center;
    position: relative;
}

form fieldset.catalogo legend h2 {
    margin: 0;
    width: 100%;
    border-radius: 35%;
    color: #000000;
}

form fieldset.catalogos legend h2 {
    margin: 10%;
    width: 100%;
}

.tabla {
    background: #ffffff;
}

section.tablaa h2 {
    color: black;
}

.contener3 {
    margin: 3%;
}

form fieldset {
    box-shadow: 0 5px 15px rgb(44, 44, 44);
}

form fieldset legend {
    background: transparent;
    width: 100%;
    text-align: center;
    margin: 2%;
    color: #EEE;
}

section button {
    position: relative;
    float: left;
    background: #000000;
    color: #ffffff;
    border-radius: 30px;
}

section button.dos {
    position: relative;
    float: right;
    background: #000000;
    color: #ffffff;
    border-radius: 30px;
}

span p {
    margin: 5%;
}

.boto {
    color: #000000;
    background: transparent;
    border-radius: 30px;
    width: 70px;
    border: none;
    margin: 5%;
}

.boto:hover {
    color: rgb(255, 255, 255);
    background: #000000;
}

form.catal {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.margen {
    margin: 50px;
}

.opaco {
    opacity: 30%;
}

#mi-busqueda {
    margin: 1%;
    fieldset {
        margin: auto 1%;
        width: auto;
        legend {
            h2 {
                text-shadow: 10px 10px 10px rgb(0, 0, 0);
                text-align: center;
                height: 30px;
                color: #000;
            }
        }
        label {
            text-shadow: 10px 10px 10px rgb(0, 0, 0);
            text-align: center;
            padding: 1%;
            text-align: center;
            color: black;
        }
        input {
            text-shadow: 10px 10px 10px rgb(0, 0, 0);
            text-align: center;
            background: #000;
        }
        select {
            text-shadow: 10px 10px 10px rgb(0, 0, 0);
            text-align: center;
            background-color: #000;
        }
    }
}

option {
    color: #EEE;
    transition: 2s;
    background: black;
}

section h2 {
    color: #ffffff;
}

a:activo {
    color: rgb(255, 255, 255);
}

input {
    padding: 7px;
}

legend.centrar {
    margin-left: 35%;
}

article.tamaño {
    padding: 200px;
    background: #f6e9e9;
    color: #000000;
}

article.tamaño h2 {
    color: rgb(255, 255, 255);
    margin: 2%;
    font-size: 20px;
    text-transform: uppercase;
}

article {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    img {
        width: 100px;
        height: auto;
    }
}

table.tablaContacto {
    border-spacing: 15px;
    background: rgb(0, 0, 0);
    width: 100%;
    color: #EEE;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

div.grid-padre {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hijo1 hijo2""hijo3 hijo3";
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-gap: 10px;
}

div.hijos1 {
    grid-area: hijo1;
}

div.hijos2 {
    grid-area: hijo2;
}

div.hijos3 {
    grid-area: hijo3;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.hijos3 {
    grid-area: hijo3;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

div.grid div {
    margin: 2%;
}

.ayuda {
    width: 50%;
    padding: 0%;
    margin: 5% auto;
    text-align: center;
    align-items: center;
    position: relative;
    @media (max-width: 600px) {
        width: 90%;
    }
}

.ayuda legend {
    padding: 0%;
    margin: 3% 0%;
}

h2 {
    margin: 30px 0px;
}

.tamañosLetra {
    margin: 0%;
    padding: 0%;
}

div.misCompra {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "video video formulario""descripcion descripcion formulario""calificacion calificacion formulario"" dudas dudas  dudas";
    grid-gap: 20px;
}

section#video {
    width: 100%;
    display: flex;
    grid-area: video;
    justify-content: flex-start;
    .imagen-reserva {
        display: none;
    }
}

section#calificacion {
    width: 90%;
    grid-area: calificacion;
    background: transparent;
}

section#descripcion {
    width: 90%;
    background: transparent;
    margin: 0%;
    grid-area: descripcion;
}

section#formulario {
    width: 90%;
    background: transparent;
    margin: 0%;
    grid-area: formulario;
    padding: 0%;
}

#miCajaFija {
    position: inherit;
    padding: auto;
    margin: 0%;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

section#dudas {
    width: 90%;
    background: transparent;
    margin: 0%;
    grid-area: dudas;
    display: flex;
    justify-content: center;
}

.botons {
    background: #000;
    color: #f6e9e9;
    border-radius: 35px;
}

.form-register {
    margin: auto;
    width: 100%;
    @include gradientLine(top, rgb(0, 0, 0)50%, rgb(141, 141, 141));
    border-radius: 14px;
    color: white;
    box-shadow: 7px 13px 37px rgb(234, 234, 234);
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    background: #000;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    color: #EEE;
}

.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #9d9d9d;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    background: #000;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    text-align: center;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.form-register a:hover {
    color: rgb(208, 208, 208);
    text-decoration: underline;
}

.card {
    margin: 5% 0;
    width: auto;
    height: auto;
}

.card-body {
    box-shadow: 3px 3px 15px 3px rgb(255, 255, 255);
    color: white;
    background: transparent;
    width: auto;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.card-precio {
    padding: 2%;
    color: white;
    border-radius: 35px;
    background: transparent;
}

.card-precio:hover {
    color: rgb(255, 255, 255);
    transition: 3s;
    background: transparent;
    text-shadow: 10px 10px 15px rgb(255, 255, 255);
    cursor: pointer;
}

.botos {
    border: 1px solid white;
    margin: auto;
    color: #ffffff;
    background: black;
    width: 95px;
    border-top-left-radius: 0;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
    padding: 2px;
    text-align: center;
    font-size: 10px;
}

.boto {
    font-size: 10px;
    padding: 2px;
    text-transform: uppercase;
    border: 1px solid white;
    margin: auto 4px;
    color: #ffffff;
    background: black;
    width: 95px;
    border-radius: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 35px;
    text-align: center;
}

button.boto:hover,
.boto:hover {
    transform: translateY(-.5em);
    color: rgb(0, 0, 0);
    background: #ffffff;
}

button.botos:hover,
.botos:hover {
    transform: translateY(-.5em);
    color: rgb(0, 0, 0);
    background: #ffffff;
}

.centrado {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: end;
    justify-items: center;
    flex-direction: column;
}

tr.paciente td,
.estilizar th {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}

tr.estilizar th {
    padding: 15px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.contenedor {
    width: 100%;
    color: map-get($colores, letras);
    border-radius: 5px;
    @include gradientLine(top, rgb(0, 0, 0)50%, rgb(141, 141, 141));
    box-shadow: 7px 7px 7px linen;
}

.miFormula {
    margin: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
}

.padre-cajita {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cajita1 cajita2";
    padding: 10px;
    grid-gap: 5px;
}

.cajita1 {
    grid-area: cajita1;
}

.cajita2 {
    grid-area: cajita2;
}

#miCajaFija {
    width: 90%;
}

.animat {
    width: 100%;
    height: 250px;
    animation-name: animar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 6s;
    animation-delay: 2s;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    transition: 2s;
    text-shadow: 4px 4px 5px rgba(206, 206, 206, 0.333);
    flex-direction: row;
}

@keyframes animar {
    0% {
        width: 100%;
        height: 10%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(83, 83, 83) 51%);
    }
    20% {
        width: 100%;
        height: 10%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(108, 108, 108) 37%);
    }
    40% {
        width: 100%;
        height: 10%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(77, 77, 77) 67%);
    }
    60% {
        width: 100%;
        height: 10%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(66, 66, 66) 48%);
    }
    80% {
        width: 100%;
        height: 10%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(99, 99, 99) 48%);
    }
    100% {
        width: 100%;
        height: 10%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(92, 92, 92) 26%);
    }
}

.animarCajas,
.animarCajas4,
.animarCajas3,
.animarCajas2 {
    width: 320px;
    height: 200px;
    margin: 90px;
    animation-name: animarCajas;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6, jump-none);
    animation-duration: 6s;
    animation-delay: 2s;
}

@keyframes animarCajas {
    0% {
        transform: translateX(-500%);
    }
    5% {
        transform: translateX(-450%);
    }
    10% {
        transform: translateX(-400%);
    }
    15% {
        transform: translateX(-350%);
    }
    20% {
        transform: translateX(-300%);
    }
    25% {
        transform: translateX(-250%);
    }
    30% {
        transform: translateX(-200%);
    }
    35% {
        transform: translateX(-150%);
    }
    40% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-20%);
    }
    55% {
        transform: translateX(-0%);
    }
    58% {
        transform: translateX(500%);
    }
    60% {
        transform: translateX(450%);
    }
    65% {
        transform: translateX(400%);
    }
    70% {
        transform: translateX(350%);
    }
    75% {
        transform: translateX(300%);
    }
    80% {
        transform: translateX(250%);
    }
    85% {
        transform: translateX(200%);
    }
    90% {
        transform: translateX(150%);
    }
    94% {
        transform: translateX(100%);
    }
    98% {
        transform: translateX(50%);
    }
    99% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
    }
}

.mi-contenido {
    width: 50%;
    height: 300px;
    display: inline-flex;
    margin-left: 25%;
    margin-right: 25%;
    border: 10px;
    border: 1px solid white;
    padding: 0%;
    border-radius: 35px;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5%;
}

.mi-grupo1 {
    text-align: center;
    width: 100%;
    align-content: space-between;
    strong {
        color: darkgreen;
        text-transform: uppercase;
        padding: 10%;
    }
    p {
        overflow: hidden;
        padding: 5%;
    }
}

.mi-grupo2 {
    align-items: center;
    align-content: center;
    img {
        width: 250px;
        height: 300px;
        background-size: cover;
        object-fit: cover;
    }
}

.card-img-top {
    margin: auto;
    width: 300px;
    height: 350px;
    background-size: cover;
}

.usuario {
    position: relative;
    width: 50%;
    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        .text {
            background-color: #000000;
            color: rgb(255, 255, 255);
            font-size: 16px;
            padding: 16px 32px;
            border: 2px solid white;
            cursor: pointer;
        }
    }
}

.usuario:hover {
    .image {
        opacity: 0.3;
    }
}

.usuario:hover {
    .middle {
        opacity: 1;
    }
}

.infinite {
    align-items: center;
    background: #00000000;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    .slider {
        border-radius: 35px;
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
        &::before {
            left: 0;
            top: 0;
        }
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px * 14);
        }
        .slide {
            height: 100px;
            width: 250px;
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.mi-imgagen-p {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    background: transparent;
    ul.slider {
        position: relative;
        top: -50%;
        li {
            width: 400px;
            height: 200px;
            background-size: cover;
            list-style: none;
            opacity: 0;
            transition: opacity .5s;
            position: absolute;
        }
        li:first-child {
            opacity: 1;
        }
        li:target {
            opacity: 1;
        }
    }
    padding: 0;
    margin: 0;
    .mi-imagen {
        list-style: none;
        position: relative;
    }
}